/*类选择器*/
.style1{
	background-color:pink;
	font-weight:bold;
	font-size:16px;
	color:black;
}

/*id选择器*/
#style2{
	background-color:gray;
	font-size:20px;
}

/*html元素选择器(优先级低于前两个选择器)*/
body{
	color:orange;
	background:green;
}
a:link{
	color:black;
	text-decoration:none;
	font-size:24px;
}
a:hover{
	text-decoration:underline;
	color:red;
	font-size:40px;
}
a:visited{
	color:yellow;
}
/*对同一种Html元素进行分类*/
p.cls1{
	color:blue;
	font-size:30px;
}
p.cls2{
	color:red;
	font-size:20px;
}

/*通配符选择器(可以应用到所有的html元素，但是其优先级是最低的)*/
*{
	margin-top:50px;
	margin-left:60px;
}

/*优先级：ID选择器 > class选择器 > html选择器 < 通配符选择器*/

/*父子选择器*/
#style2 span{
	color:red;
}
#style2 span span{
	color:green;
}

/*将多个选择器的公共部分，单独抽取出来，可以减少css的冗余*/
.styl1 , .styl2 , .styl3{
	height:196px;
	float:left;
}