body{
	margin:0 auto;	/*æ”÷–*/
	border:2px solid green;
	width:100%;
	height:800px;
}

.top{
	width:100%;
	height:32px;
	background:#B0F9F9;
}

.logo1{
	margin-left:30%;
	float:left;
}

.login{
	width:350px;
	height:22px;
	background:#B0F9F9;
	float:left;

}
.login input{
	float:left;
}
.myhref{
	float:left;
	background:#B0F9F9;
}

.setindex{
	float:right;
	background:#B0F9F9;
}

.secend{
	margin:0 auto;
	border:2px solid red;
	width:1130px;
	height:100px;
}
.secend img{height:100px;width:150px}
.secend span{
	float:left;
}
hr{
	<hr size="1" width="80%" color="black" noshade="noshade" />
	border:1px;
	width:86.5%;
	color:black;
	float:right;
	margin:2px 0px 2px 0px;
}