.div1{
	width:500px;
	height:300px;
	border:2px solid gray;
}
.faceul{
	width:300px;
	height:200px;
	border:2px solid red;
	padding-left:0;
	margin-left:10px;
}
.faceul li{
	list-style-type:none;
	float:left;
	width:50px;
	height:52px;
	border:1px solid blue;
	margin:5px 0px 0px 5px;
	}
.faceul li img{
	width:40;
	height:40px;
	margin-top:5px;
	margin-left:5px;
s}